html{
    background:url(../images/volley.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    text-align: center;
    
}

h3{
    float:left;
    margin-left: 20%;
    border-radius: 10px;
    font-size: large;
    border: 1px solid black;
    background: lightgray;
}


body{
    margin-left:2%;
    margin-right:2%;
    font-weight: bold;
    border: 0px solid blue;
}


a {
    color: darkblue;
}

a:hover {
    color: white;
}

#rotacaoCampo1{
    width:14%;
    height:10px;
    border:0px solid black;
    margin-left: 2.2%;
    float:left;



}

#rotacaoCampo1 label{
    color:white;
    background: black;
}

#rotacaoCampo2{
    width:14%;
    height:10px;
    float:right;
    margin-right: 2.2%;
    border:0px solid yellow;


    
}

#rotacaoCampo2 label{
    color:white;
    background: black;
}

#casa{
    float:left;
    margin-left: 20%;
    border-radius: 10px;
    font-size: large;
    border: 1px solid black;
    background: lightgray;
    
}


#fora{
    float:right;
    margin-right: 20%;
    border-radius: 10px;
    font-size: large;
    border: 1px solid black;
    background: lightgray;

}


#setCasa input{
    background: black;
    font-size:small;
    color:white;
    border:0px;

}


#setFora input{
    background: black;
    font-size:small;
    color:white;
    border:0px;
}



#pontoCasa input{
    background: black;
    height: 30px;
    width: 40px;
    font-size:medium;
    color:white;
    border:0px;
}

#pontoFora input{
    background: black;
    height: 30px;
    width: 40px;
    font-size:medium;
    color:white;
    border:0px;
}

#classificacao{

}

select{ 
    background: lightgray;
    border-radius: 20px;
    width:100px;
    text-align: center;
    margin-left: 4px;
}

#atribui label{
    color:white;
    border: 1px solid black;
    background: black;
    width: 100px;
    
}

#atribui{
    border: 0px solid blue;
    height: 25%;
    width: 18%;
    float:left;
    margin-top: 10%;
    
}

#atribui2 label{
    color:white;
    border: 1px solid black;
    background: black;
    
    
}

#atribui2{
    border: 0px solid blue;
    height: 25%;
    width: 18%;
    float:right;
    margin-top: 10%;

    
}


#jogadasTxt{
    font-weight: 900;
}

#textboxes{
position:absolute;
margin-top: 33%;
margin-left: 25%;


}

#textboxes textarea{
width:600px;
height: 50px;

}

/* -------------------------- classificacao ------------------------------*/

#popUpDivAtaques{
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 40%;
    font-size: 20px;

}


#popUpDivDefesas{
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 40%;
    font-size: 20px;
}

#popUpDivServicos{
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 40%;
    font-size: 20px;

}


/* -------------------------- campo ------------------------------*/

.elementServiceLeft{
    width: 3.6%;
    height: 25.4%;
    border: 1px solid #000000;
    position:absolute;
    top: 25.4%;
    right:27%; 
    margin-right:49.05%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.elementServiceLeft:hover { background-color: #FFC4CB; }

.elementServiceRight{
    width: 3.6%;
    height: 25.4%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right: -5.12%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.elementServiceRight:hover { background-color: #FFC4CB; }

.elementTopLeft{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;

    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}
.elementTopLeft:hover { background-color: #ADAFFF; }

.elementTopRight{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementTopRight:hover { background-color: #ADAFFF; }

.elementBotLeft{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 45.6%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementBotLeft:hover { background-color: #ADAFFF; }

.elementBotRight{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 45.6%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementBotRight:hover { background-color: #ADAFFF; }

.elementOutLeft{
    width: 3.6%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:44.7%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementOutLeft:hover { background-color: #ADAFFF; }

.elementOutRight{
    width: 3.6%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right: -0.73%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementOutRight:hover { background-color: #ADAFFF; }


.element1 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element1:hover { background-color: #F7C87C; }

.element2 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    margin:0 10px 0 0;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}
.element2:hover { background-color: #F7C87C; }

.element3 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}
.element3:hover { background-color: #F7C87C; }

.element6 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}
.element6:hover { background-color: #F7C87C; }
.element4:hover { background-color: #F7C87C; }


.element4 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    margin:0 10px 0 0;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element5 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element5:hover { background-color: #F7C87C; }	


.elementLinha{
    width: 1.46%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top:0px;
    right:27%; 
    margin-right:23%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}


.element7 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}
.element7:hover { background-color: #F7C87C; }	

.element12 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.element12:hover { background-color: #F7C87C; }

.element11 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.element11:hover { background-color: #F7C87C; }

.element10 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.element10:hover { background-color: #F7C87C; }

.element9 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.element9:hover { background-color: #F7C87C; }

.element8 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}

.element8:hover { background-color: #F7C87C; }

/* --------------------------- drag and drop ------------------------------------ */

/*
#dragj1 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador1.jpg); }
  #dragj2 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador2.jpg); }
  #dragj3 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador3.jpg); }
  #dragj4 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador4.jpg); }
  #dragj5 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador5.jpg); }
  #dragj6 { 
  width: 100px; 
  height: 100px; 
  padding: 0.5em; 
  float: left; 
  margin: 10px 10px 10px 0; 
  background-image: url(jogador6.jpg); }
  #dropP1 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  #dropP2 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  #dropP3 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  #dropP4 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  #dropP5 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  #dropP6 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  
  #dragAndDrop{
      border: 0px solid red;
      width:100%;
      height:500px;
      
  }

*/
