html{
    background:url(../images/volley.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    text-align: center;
    
}

h1{
alignment-baseline: central;
    border: 1px solid black;
    background: lightgray;
    font-size: 20px;
}

h3{
        border-radius: 10px;
    font-size: large;
    border: 1px solid black;
    background: lightgray;
}

a {
    color: darkblue;

}


a:hover {
    color: white;
}

#voltarCampo{
float: left;
margin-top: 40%;
   
}

#comboestat1{
    border: 0px solid blue;
    height: 15%;
    width: 10%;
    float:left;
}
#comboestat2{
    border: 0px solid blue;
    height: 15%;
    width: 10%;
    float:right;
}

body{
    margin-left:4%;
    margin-right:4%;
    font-weight: bold;
}


/* -------------------------- campo ------------------------------*/

.elementServiceLeft{
    width: 3.6%;
    height: 25.4%;
    border: 1px solid #000000;
    position:absolute;
    top: 25.4%;
    right:27%; 
    margin-right:49.05%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.elementServiceRight{
    width: 3.6%;
    height: 25.4%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right: -5.12%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.elementTopLeft{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;

    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}


.elementTopRight{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}



.elementBotLeft{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 45.6%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.elementBotRight{
    width: 18.7%;
    height: 5.2%;
    border: 1px solid #000000;
    position:absolute;
    top: 45.6%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}


.elementOutLeft{
    width: 3.6%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right:44.7%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}


.elementOutRight{
    width: 3.6%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top: 0px;
    right:27%; 
    margin-right: -0.73%;
    margin-top: 7%;
    background-color:blue;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}


.element1 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}


.element2 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    margin:0 10px 0 0;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element3 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element6 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}


.element4 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    margin:0 10px 0 0;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:25.6%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}

.element5 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:35.13%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}



.elementLinha{
    width: 1.46%;
    height: 50.8%;
    border: 1px solid #000000;
    position:absolute;
    top:0px;
    right:27%; 
    margin-right:23%;
    margin-top: 7%;
    background-color:red;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;


}


.element7 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.element12 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.element11 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:3.3%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}



.element10 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:32.6%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.element9 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:19.5%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}


.element8 {
    width: 9.15%;
    height: 11.7%;
    border: 1px solid #000000;
    position:absolute;
    top:6.5%;
    right:27%; 
    margin-right:12.8%;
    margin-top: 7%;
    background-color:#FAAF37;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;

}
